body {
	background-size: cover;
	background-image: url(../image/JX%E6%8F%AD%E8%A5%BF%EF%BC%81/bg%EF%BC%81.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: auto;
}

#container {
    width: 800px;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
}
#MenuBar1{
	background-color: #C0560F;
	width: 100%;
}
ul.MenuBarHorizontal {
	height: 40px;
	background-color: #C0560F;
}
ul.MenuBarHorizontal a {
    text-align: center;
    background-color: #c0560f;
    color: white;
  }
ul.MenuBarHorizontal a:hover {
	background-color: #C0560F;
	font-size: 100%;
}
ul.MenuBarHorizontal li {
    /* width: auto; */
    width: 114px;
}
#header {
	width: 100%;
	height: 200px;














    background: url(../image/易烊千玺99.jpg);
	background-size: cover;
	background-image: url(../image/JX%E6%8F%AD%E8%A5%BF%EF%BC%81/%E5%97%A8.jpg);
	background-position: 75% 25%;
	text-align: center;
}

.title {
	font-size: 50px;
	font-weight: bold;
	color: #FFFFF9;
	padding: 120px 50px 20px;
	text-align: left;
	font-family: "幼圆";
}

.content {
	background-color: white;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
}

.cover {
    width: 100%;
    border-radius: 10px;
}

.f  {
	display: marker;
	gap: 20px;
	margin-bottom: 20px;
}
.s {
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 6px;
}
.t {
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
	background-color: #c0560f;
	color: white;
	margin-top: 25px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
.tr {

    background: #c0560f;
}
.cc {
	color: white;
	padding-left: 20px;
	width: 100%;
	background-color: #C0560F;
}
#footer {
    color: white;
    border-top: 1px gray solid;
    background-color: #c0560f;
    padding: 20px;
    text-align: center;
}

#dl2 {
	width: 400px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}



.ttt {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}
.ta {
    width: 100%;
    height: 100px;
}
#dl .input {
    width: 100%;
    height: 26px;
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.dl2 {
    background-color: #c0560f;
    color: white;
    padding: 20px;
}
